body {
  background-image: url("https://i.pinimg.com/originals/95/90/d5/9590d5210cc924f298454ec4a2fc7f06.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

h1 {
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

.button-container {
  color: white;
  margin-top: 20px;
}

.button-row {
  display: flex;
  justify-content: center;
}

a.button {
  color: white;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background: transparent; /* Add this line to set the background color to transparent */
  color: #000000;
  border: none;
  outline: none;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: none !important;
}

.social-media-logo {
  width: 50px;
  height: auto;
}

.social-media-logo.soundcloud {
  width: 60px; /* Adjust the width to your desired size */
  height: auto;
  display: block;
  margin: 0 auto;
  margin: 8px auto 0; /* Add a margin of 5px on the top */
}
